@use "./../../scss/variables.scss" as var;

.code-cell {
  margin: 0 auto;
  background-color: #1e1e1e;
  // overflow: hidden;
}

.progress-cover {
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  animation: fadeIn 0.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
