@use "./../../scss/variables.scss" as var;

.footer {
  //   display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px;
  text-align: center;
  align-self: center;
  color: var.$color-text;
}
