$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-tertiary: var(--color-tertiary);
$color-black: var(--color-black);
$color-white: #fff;
$color-text: var(--color-text);
$border-radius-small: 4px;
$border-radius-small-2: 6px;
$border-radius-medium: 8px;
$border-radius-medium-1: 10px;
$border-radius-medium-2: 12px;
$border-radius-extra: 14px;
