// $color-primary: #f9ed69;
$color-primary: #50ffaf;
// $color-secondary: #f08a5d;
$color-secondary: #f2de3a;
$color-tertiary: #b83b5e;
$color-quaternary: #6a2c70;
$color-black: #000;
$color-white: #fff;

$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-medium-1: 10px;
$border-radius-medium-2: 12px;
$border-radius-extra: 14px;
