@use "./../../scss/variables.scss" as var;
@import "./../../scss/mixins.scss";

.text-editor,
.text-markdown {
  @include shadow();
  border-radius: var.$border-radius-medium-1;
  overflow: hidden;
  border: 3px solid black;

  .w-md-editor-bar {
    height: 10px;
    cursor: row-resize;
    width: 100%;
    position: relative;
    & svg {
      display: none;
    }
  }
}
.text-markdown {
  cursor: pointer;
}
